.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #3E516B;
  display: flex;
  padding: 0 1em;
  color: #AFD5DE;
}

.header_content {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  align-items: center;
}

ul>*:first-child {
  margin-right: 40px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
}

li a {
  padding: 14px 16px;
  display: flex;
  text-decoration:none;
  transition: color 200ms ease;
}

li a:visited {
  color: #AFD5DE;
}

li a:hover {
  color: #7FA4B6;
}

.content {
  margin: 2em 1em 1em 1em;
  padding: 1em 0 0 1em;
  width: 1000px;
}